@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {
  font-size: 0.6rem;
  line-height: 0.75rem;
}

.btn {
  @apply font-bold py-2 px-3 rounded items-center justify-center;
  max-height: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
}

.btn-primary {
  @apply bg-green-500 text-gray-50 hover:bg-green-500 disabled:bg-gray-400;
}

.btn-outline-primary {
  @apply border border-green-400 text-green-600 hover:bg-green-500 hover:text-gray-100;
}
